@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');


body {
    font-family: 'Orbitron', sans-serif;
}

h1 {
    margin: 4% 0;
    text-align: center;
}

.calculator {
     width: 280px;
     height: 360px ;
     margin: auto;
     outline: 2px solid #175c97;
     border-radius: 25px;
     padding-top: 30px;
     box-shadow: inset 0px 0px 23px 8px #D3DBEC;
}

#outcome {
    margin: auto;
    width: 240px;
    height: 50px;
    margin-bottom: 10px;
    font-size: 1.8em;
    padding: 0;

}

#outcome:hover {
    background-color: rgb(241, 247, 165);
}

#outcome, #result-button {
  
    border: 2px solid #175c97;
    border-radius: 5px;
    
   
}
.container {
    display:flex;
    width: 100%;
    justify-content: center;
}

.container div {
    width: 46px;
    height:40px;
    margin: 4px 4px;
    background-color: rgb(211, 219, 236);
    text-align: center;
    font-size: 1.8em;
    padding: 0.2em 0.2em 0 0.2em;
    color: #175c97;
    font-weight: bold;
    border-radius: 5px;
    
    
}

#result-button {
    border: none;
    background-color: rgb(211, 219, 236);
    text-align: center;
    font-size: 1.8em;
    padding: 0.2em 0;
    color: #175c97;
    font-weight: bold;
    margin: auto;
    margin-top: 4px;
    width: 250px;
    height: 40px;
    font-size: 2.5em;

}
 
#result-button:hover, .container div:hover {

    border: 2px solid #175c97;
    transform: scale(1.1);
}

